<div class="container" *ngIf="country">
  <div class="back" [ngClass]='darkTheme===true?"dark-theme-back" : "" '>
    <a routerLink='/'>
      <button ><mat-icon>keyboard_backspace</mat-icon> Back</button>
    </a>
  </div>

  <div class="info">
    <div class="image" >
      <img src="{{country.flags.png}}" alt="{{country.name.common}} flag">
    </div>
    <div class="details">
      <h1>{{country.name.common}}</h1>
      <div class="info-section">
        <div class="info1">
          <div class="native-name">Native Name: <span>{{nativeName}}</span></div>
          <div class="population">Population: <span>{{country.population | number:'.2' }}</span></div>
          <div class="region">Region: <span>{{country.region}}</span></div>
          <div class="sub-region">
            Sub Region: <span>{{country.subregion}}</span>
          </div>
          <div class="capital">
            Capital: <span>{{country.capital}}</span>
          </div>

        </div>
        <div class="info2">
          <div class="currencies">
            Currencies: <span>{{currencies}}</span>
          </div>
          <div class="lang">
            Languages: <span>{{languages.join(', ')}}</span>
          </div>
        </div>
      </div>
      <div class="border-countries" *ngIf='found.length'>
        <span> Borders Countries:</span>
        <div class="borders" *ngFor='let border of found | slice:0:3' [ngClass]='darkTheme===false?"" : "dark-theme-border" '>
          <button>{{border}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
